.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.456);
}

a.button {
    padding: 10px 25px;
    text-align: center;
    background-color: rgb(192, 9, 9);
    color: white;
    text-decoration: none;
    /* opacity: 0;
    transition: opacity 5s; */
    display: none;
}

.card-container:hover .button {
    display: block;
    /* opacity: 100; */
}