div.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: cyan;
}

div.box1{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.teste{
    color: white;
    background-color: green;
}

h1{
    display: block;
  
}

