

body{
    background-color: blue;
}

main{
    padding: 20px;
    margin: auto;
    width: 1060px;
    background-color: white;
}

h1,h2,p{
    text-align: center;
}

.imagem{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

