body{
    background-color: rgb(32, 32, 151);
    height: 100vh;
    display: flex;
    align-items: center;
}

main{
    padding: 5px;
    margin: auto;
    width: 80vw;
    height: 80vh;
    background-color: rgb(47, 47, 47);
    position: relative;
}

#pacman{
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 2px;

    position: absolute;
    top: 5px;
    left: 40px;
}

#food{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}